body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    border: 1px solid #1a0c0c;
    padding: 10px;
    border-radius: 5px;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.5em;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #780a0a;
  }